@page "/"


<div class="sign-form">
    <div class="logo-div">
        <img class="logo-icon" src=".\logo webapp.svg" />
    </div>
    <div class="Gender-Div">
        <p>Sexo: </p>
        <button class="Gender-select btn shadow-sm p-3 mb-5 bg-white rounded" style="background-image: url(@icon1)" type="submit" @onclick="MaleHandler"></button>
        <button class="Gender-select btn shadow-sm p-3 mb-5 bg-white rounded" style="background-image: url(@icon2)" type="submit" @onclick="FemaleHandler"></button>
        <button class="Gender-select btn shadow-sm p-3 mb-5 bg-white rounded" style="background-image: url(@icon3)" type="submit" @onclick="PregnantHandler"></button>
    </div>
    <div>
        <input type="number" class="sign-input form-control" placeholder="Edad" @onchange="HandleUserAge" />
        <input type="number" class="sign-input form-control" placeholder="Altura en mts" @onchange="HandleUserHeight" />
        <input type="number" class="sign-input form-control" placeholder="Peso en kgs" @onchange="HandleUserWeight" />
    </div>
    <div class="Act-Div">
        <p>Actividad: </p>
        <button class="Act-btn btn shadow-sm p-0 mb-0 @Btn  rounded-circle" type="submit" @onclick="LAHandler">10%</button>
        <button class="Act-btn btn shadow-sm p-0 mb-0  @Btn2  rounded-circle" type="submit" @onclick="MAHandler">15%</button>
        <button class="Act-btn btn shadow-sm p-0 mb-0 @Btn3  rounded-circle" type="submit" @onclick="HAHandler">20%</button>
    </div>
    <button class="signup btn rounded-pill border-success shadow p-3 mb-5 bg-white rounded " type="submit" @onclick="ObtainData">
        Calcular
    </button>
    <div class="Act-Div">
        <div class="Image-Container">
            <img class="image-female img-fluid" src=@img1 style="opacity : @opacity1 " />
            <img class="image-female img-fluid" src=@img2 style="opacity : @opacity2 " />
            <img class="image-female img-fluid" src=@img3 style="opacity : @opacity3 " />
            <img class="image-female img-fluid" src=@img4 style="opacity : @opacity4 " />
            <img class="image-female img-fluid" src=@img5 style="opacity : @opacity5 " />
            <img class="image-female img-fluid" src=@img6 style="opacity : @opacity6 " />
        </div>
        <div class="Meter-container ">
            <img class="Image-Meter img-fluid" src="/Images/Medidor.svg" />
            <img class="arrow-meter img-fluid" src="/Images/Flecha.svg" style="transform: rotate(@deg)" />
        </div>
    </div>
    <div class="Act-Div">
        <section class="Data-Container">
            <p class="Data-Text">IMC: @IMC </p>
            <p class="Data-Text">Peso teorico maximo: @PTMax kg</p>
            <p class="Data-Text">Peso teorico minimo: @PTMin kg </p>
            <p class="Data-Text">Peso ideal: @PIdeal kg </p>
            <p class="Data-Text">GEB: @Geb   </p>
            <p class="Data-Text">GET: @Get    </p>
            <p class="Data-Text">Kcal para perdida de peso: @Per kcal </p>
            <p class="Data-Text">Proteina para aumento muscular: @Mus gr </p>
        </section>
    </div>
</div>



@code {
    private string Day { get; } = DateTime.Now.DayOfWeek.ToString();

    private int Edad { get; set; }

    private double Height { get; set; }

    private double Weight { get; set; }

    private double IMC { get; set; }

    private double PTMax { get; set; }

    private double PTMin { get; set; }

    private double PIdeal { get; set; }

    private double Geb { get; set; }

    private double Get { get; set; }

    private double Act { get; set; }

    private double Per { get; set; }

    private double Mus { get; set; }

    private int sex { get; set; } = 0;

    private string deg { get; set; } = "210deg";

    private string  Btn { get; set; } = "bg-white";

    private string  Btn2 { get; set; } = "bg-white";

    private string  Btn3 { get; set; } = "bg-white";


    private string img1 { get; set; } = "/Images/Gray1.svg";
    private string img2 { get; set; } = "/Images/Gray2.svg";
    private string img3 { get; set; } = "/Images/Gray3.svg";
    private string img4 { get; set; } = "/Images/Gray4.svg";
    private string img5 { get; set; } = "/Images/Gray5.svg";
    private string img6 { get; set; } = "/Images/Gray6.svg";


    private string opacity1 { get; set; } = "20%";
    private string opacity2 { get; set; } = "20%";
    private string opacity3 { get; set; } = "20%";
    private string opacity4 { get; set; } = "20%";
    private string opacity5 { get; set; } = "20%";
    private string opacity6 { get; set; } = "20%";

    private string icon1 { get; set; } = "/Images/malegrayicon.svg";
    private string icon2 { get; set; } = "/Images/fGrayIcon.svg";
    private string icon3 { get; set; } = "/Images/PGrayIcon.svg";



    private void MaleHandler()
    {
        sex = 1;
        icon1 = "/Images/malegreenicon.svg";
        icon2 = "/Images/fGrayIcon.svg";
        icon3 = "/Images/PGrayIcon.svg";
        img1 = "/Images/desMale.svg";
        img2 = "/Images/normMale.svg";
        img3 = "/Images/sobrepesoMale.svg";
        img4 = "/Images/ob1Male.svg";
        img5 = "/Images/ob2Male.svg";
        img6 = "/Images/ob3Male.svg";
    }

    private void FemaleHandler()
    {
        sex = 2;
        icon1 = "/Images/malegrayicon.svg";
        icon2 = "/Images/fGreenicon.svg";
        icon3 = "/Images/PGrayIcon.svg";
        img1 = "/Images/Desnutricion.svg";
        img2 = "/Images/Normal.svg";
        img3 = "/Images/sobrepeso.svg";
        img4 = "/Images/obesidad 1.svg";
        img5 = "/Images/obesidad2.svg";
        img6 = "/Images/obesidad3.svg";
    }

    private void PregnantHandler()
    {
        sex = 3;
        icon1 = "/Images/malegrayicon.svg";
        icon2 = "/Images/fGrayIcon.svg";
        icon3 = "/Images/PPinkIcon.svg";
        img1 = "/Images/Desnutricion.svg";
        img2 = "/Images/Normal.svg";
        img3 = "/Images/sobrepeso.svg";
        img4 = "/Images/obesidad 1.svg";
        img5 = "/Images/obesidad2.svg";
        img6 = "/Images/obesidad3.svg";
    }

    private void HandleUserAge(ChangeEventArgs eventArgs)
    {
        Edad = Convert.ToInt32(eventArgs.Value);
    }

    private void HandleUserHeight(ChangeEventArgs eventArgs)
    {
        Height = Convert.ToDouble(eventArgs.Value);
    }

    private void HandleUserWeight(ChangeEventArgs eventArgs)
    {
        Weight = Convert.ToDouble(eventArgs.Value);
    }

    private void LAHandler()
    {
        Act = 0.1;
        Btn = "bg-success";
        Btn2 = "bg-white";
        Btn3 = "bg-white";

    }

    private void MAHandler()
    {
        Act = 0.15;
        Btn = "bg-white";
        Btn2 = "bg-success";
        Btn3 = "bg-white";
    }

    private void HAHandler()
    {
        Act = 0.2;
        Btn = "bg-white";
        Btn2 = "bg-white";
        Btn3 = "bg-success";

    }

    private void ObtainData()
    {

        double a;
        double b;
        double c;
        double d;
        double g;
        double get;
        double af;
        double eta;

        a = Weight / Math.Pow(Height, 2);
        b = Math.Pow(Height, 2) * 24.9;
        c = Math.Pow(Height, 2) * 18.5;
        d = (b + c) / 2;

        IMC = Math.Round(a, 2);
        PTMax = Math.Round(b, 2);
        PTMin = Math.Round(c, 2);
        PIdeal = Math.Round(d, 2);


        if (sex == 1)
        {

            if (IMC <= 25)
            {
                g = (66.5 + (13.75 * PTMax) + (5.003 * (Height * 100)) - (6.775 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
            else
            {
                g = (66.5 + (13.75 * Weight) + (5.003 * (Height * 100)) - (6.775 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
        }
        else if (sex == 2)
        {
            if (IMC <= 25)
            {
                g = (655.1 + (9.563 * PTMax) + (1.85 * (Height * 100)) - (4.676 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
            else
            {
                g = (655.1 + (9.563 * Weight) + (1.85 * (Height * 100)) - (4.676 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
        }
        else if (sex == 3)
        {
            if (IMC <= 25)
            {
                g = (655.1 + (9.563 * PTMax) + (1.85 * (Height * 100)) - (4.676 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
            else
            {
                g = (655.1 + (9.563 * Weight) + (1.85 * (Height * 100)) - (4.676 * Edad));
                Geb = Math.Round(g, 2);
                af = Geb * Act;
                eta = Geb * 0.1;
                get = (Geb + af + eta);
                Get = Math.Round(get, 2);
            }
        }


        if (IMC < 18.5)
        {
            opacity1 = "100%";
            opacity2 = "20%";
            opacity3 = "20%";
            opacity4 = "20%";
            opacity5 = "20%";
            opacity6 = "20%";
            deg = "230deg";
            Per = 0.0;
            Mus = Geb + Weight;
        }
        else if (IMC > 18.5 && IMC < 24.9)
        {
            opacity1 = "20%";
            opacity2 = "100%";
            opacity3 = "20%";
            opacity4 = "20%";
            opacity5 = "20%";
            opacity6 = "20%";
            deg = "262deg";
            Per = 0.0;
            Mus = Geb + Weight;
        }
        else if (IMC > 25 && IMC < 29.9)
        {
            opacity1 = "20%";
            opacity2 = "20%";
            opacity3 = "100%";
            opacity4 = "20%";
            opacity5 = "20%";
            opacity6 = "20%";
            deg = "295deg";
            Per = Geb - 300;
            Mus = 0.0;
        }
        else if (IMC > 30 && IMC < 34.9)
        {
            opacity1 = "20%";
            opacity2 = "20%";
            opacity3 = "20%";
            opacity4 = "100%";
            opacity5 = "20%";
            opacity6 = "20%";
            deg = "325deg";
            Per = Geb - 300;
            Mus = 0.0;
        }
        else if (IMC > 35 && IMC < 39.9)
        {
            opacity1 = "20%";
            opacity2 = "20%";
            opacity3 = "20%";
            opacity4 = "20%";
            opacity5 = "100%";
            opacity6 = "20%";
            deg = "355deg";
            Per = Geb - 300;
            Mus = 0.0;
        }
        else if (IMC > 40)
        {
            opacity1 = "20%";
            opacity2 = "20%";
            opacity3 = "20%";
            opacity4 = "20%";
            opacity5 = "20%";
            opacity6 = "100%";
            deg = "385deg";
            Per = Geb - 300;
            Mus = 0.0;
        }
        else
        {
            opacity1 = "20%";
            opacity2 = "20%";
            opacity3 = "20%";
            opacity4 = "20%";
            opacity5 = "20%";
            opacity6 = "20%";
            deg = "210deg";
        }


    }



}
